#page-listing {
    flex-grow: 2;
    min-width: 156px;
    max-width: 256px;
    display: flex;
    flex-direction: column;
    padding: var(--header-height) 20px 0;
    background-color: var(--gray-light);
    color: var(--blue-dark);
}

#new-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 96px;
    padding: 8px;
}

#page-listing > ul {
    padding-left: 0;
    list-style: none;
}