.page-list-item > li.highlight {
    background-color: var(--blue-dark) !important;
    color: var(--gray-light);
}

.page-list-item > li > div {
    min-width: 116px;
    max-width: 216px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.page-list-item > li:hover {
    cursor: pointer;
    background-color: var(--blue-gray);
    color: var(--gray-light);
}