#header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding-bottom: 20px;
    height: var(--header-height);
    background-color: var(--gray-light);
}

#page-title {
    flex-grow: 2;
    width: 256px;
}

#page-title > h1 {
    margin: 0;
    text-align: start;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--blue-dark);
}

#page-title > input {
    font-size: 2em;
}