#toolbar {
    display: flex;
    justify-content: flex-start;
    height: 32px;
    background-color: var(--blue-dark);
}

.format-button {
    padding: 0 15px;
    border: none;
    background-color: transparent;
    color: var(--gray-light);
}

.format-button:hover {
    cursor: pointer;
    background-color: var(--blue-gray);
}